# Node.js
node_modules/

# TypeScript configuration
tsconfig.json
tsconfig.tsbuildinfo

# Editor files
.vscode/
.idea/

# Logs
*.log

# Dependency directory
.jenkins/

# Exclude JavaScript files
*.js

# Include TypeScript files
!*.ts
